<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itrhh.module.mapper.NoodleMapper">
<insert id="noodleInsert"
        parameterType="com.itrhh.module.entity.Noodle">
insert into noodle (noodle_name,price,noodle_image,content,noodle_weight,cover_Images,update_time,create_time,is_deleted)
value  (#{noodle.noodleName},#{noodle.price},#{noodle.noodleImage},#{noodle.content},#{noodle.noodleWeight},#{noodle.coverImages},#{noodle.updateTime},#{noodle.createTime},#{noodle.isDeleted})
</insert>
    <update id="noodleUpdate"  parameterType="com.itrhh.module.entity.Noodle" >
update noodle set noodle_name =#{noodle.noodleName},
                  content=#{noodle.content },
                  price=#{noodle.price},
                  noodle_weight=#{noodle.noodleWeight},
                  cover_images=#{noodle.coverImages},
                  noodle_image=#{noodle.noodleImage},
                  update_time=#{noodle.updateTime}
where id=#{noodle.id}



    </update>
    <update id="noodleDelete"
    parameterType="com.itrhh.module.entity.Noodle">
update noodle set is_deleted=1,update_time=#{updateTime} where id=#{id}

    </update>
</mapper>