<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itrhh.module.mapper.NoodleMapper">
    <insert id="noodleInsert"
            parameterType="com.itrhh.module.entity.Noodle" useGeneratedKeys="true" keyProperty="id">
        insert into noodle (
        <if test="noodle.noodleName !=null and noodle.noodleName !=''">noodle_name,</if>
        <if test="noodle.price !=null">price,</if>
       <!-- <if test="noodle.noodleImage !=null and noodle.noodleImage !=''">noodle_image,</if> -->
        <if test="noodle.content !=null and noodle.content !=''">content,</if>
        <if test="noodle.noodleWeight !=null">noodle_weight,</if>
        <if test="noodle.coverImages !=null and noodle.coverImages !=''">cover_images,</if>
        <if test="noodle.updateTime !=null">update_time,</if>
        <if test="noodle.createTime !=null">create_time,</if>
        <if test="noodle.cid !=null and noodle.cid !=''">cid,</if>
        is_deleted)
        values (
        <if test="noodle.noodleName !=null and noodle.noodleName !=''">#{noodle.noodleName},</if>
        <if test="noodle.price !=null">#{noodle.price},</if>
       <!-- <if test="noodle.noodleImage !=null and noodle.noodleImage !=''">#{noodle.noodleImage},</if> -->
        <if test="noodle.content !=null and noodle.content !=''">#{noodle.content },</if>
        <if test="noodle.noodleWeight !=null">#{noodle.noodleWeight},</if>
        <if test="noodle.coverImages !=null and noodle.coverImages !=''">#{noodle.coverImages},</if>
        <if test="noodle.updateTime !=null">#{noodle.updateTime},</if>
        <if test="noodle.createTime !=null">#{noodle.createTime},</if>
        <if test="noodle.cid !=null and noodle.cid !=''">#{noodle.cid},</if>
        #{noodle.isDeleted})
    </insert>
    <update id="noodleUpdate" parameterType="com.itrhh.module.entity.Noodle">
        update noodle set id=#{noodle.id}
        <if test="noodle.noodleName !=null and noodle.noodleName !=''">,noodle_name =#{noodle.noodleName}</if>
        <if test="noodle.content !=null and noodle.content !=''">,content=#{noodle.content}</if>
        <if test="noodle.price !=null">,price=#{noodle.price}</if>
        <if test="noodle.noodleWeight !=null">,noodle_weight=#{noodle.noodleWeight}</if>
        <if test="noodle.coverImages !=null and noodle.coverImages !=''">,cover_images=#{noodle.coverImages}</if>
       <!-- <if test="noodle.noodleImage!=null">,noodle_image=#{noodle.noodleImage}</if> -->
        <if test="noodle.updateTime !=null">,update_time=#{noodle.updateTime}</if>
        <if test="noodle.cid !=null">,cid=#{noodle.cid}</if>
        where id=#{noodle.id}


    </update>
    <select id="getList" parameterType="string" resultType="com.itrhh.module.entity.Noodle">
        select * from noodle
        <if test="keyword != null and keyword !=''">
            where noodle_name like concat ('%',#{keyword},'%')
        </if>
    </select>

    <update id="update" parameterType="com.itrhh.module.entity.Noodle"  >
        update noodle set id=#{noodle.id}
        <if test="noodle.noodleName !=null and noodle.noodleName !=''">,noodle_name =#{noodle.noodleName}</if>
        <if test="noodle.content !=null and noodle.content !=''">,content=#{noodle.content}</if>
        <if test="noodle.price !=null">,price=#{noodle.price}</if>
        <if test="noodle.noodleWeight !=null">,noodle_weight=#{noodle.noodleWeight}</if>
        <if test="noodle.coverImages !=null and noodle.coverImages !=''">,cover_images=#{noodle.coverImages}</if>
        <!-- <if test="noodle.noodleImage!=null">,noodle_image=#{noodle.noodleImage}</if> -->
        <if test="noodle.updateTime !=null">,update_time=#{noodle.updateTime}</if>
        <if test="noodle.cid !=null and noodle.cid!=''">,cid=#{noodle.cid}</if>
        where id=#{noodle.id}
    </update>


    <insert id="insert"
            parameterType="com.itrhh.module.entity.Noodle"  useGeneratedKeys="true" keyProperty="id">
        insert into noodle (
        <if test="noodle.noodleName !=null and noodle.noodleName !=''">noodle_name,</if>
        <if test="noodle.price !=null">price,</if>
        <!-- <if test="noodle.noodleImage !=null and noodle.noodleImage !=''">noodle_image,</if> -->
        <if test="noodle.content !=null and noodle.content !=''">content,</if>
        <if test="noodle.noodleWeight !=null">noodle_weight,</if>
        <if test="noodle.coverImages !=null and noodle.coverImages !=''">cover_images,</if>
        <if test="noodle.updateTime !=null">update_time,</if>
        <if test="noodle.createTime !=null">create_time,</if>
        <if test="noodle.cid !=null and noodle.cid !=''">cid,</if>
        is_deleted)
        values (
        <if test="noodle.noodleName !=null and noodle.noodleName !=''">#{noodle.noodleName},</if>
        <if test="noodle.price !=null">#{noodle.price},</if>
        <!-- <if test="noodle.noodleImage !=null and noodle.noodleImage !=''">#{noodle.noodleImage},</if> -->
        <if test="noodle.content !=null and noodle.content !=''">#{noodle.content },</if>
        <if test="noodle.noodleWeight !=null">#{noodle.noodleWeight},</if>
        <if test="noodle.coverImages !=null and noodle.coverImages !=''">#{noodle.coverImages},</if>
        <if test="noodle.updateTime !=null">#{noodle.updateTime},</if>
        <if test="noodle.createTime !=null">#{noodle.createTime},</if>
        <if test="noodle.cid !=null and noodle.cid!=''">#{noodle.cid},</if>
        #{noodle.isDeleted})
    </insert>
    <!--
    <update id="noodleDelete"
            parameterType="com.itrhh.module.entity.Noodle">
        update noodle set is_deleted=1,update_time=#{updateTime} where id=#{id}

    </update>
    -->
<!--<select id="getLike" parameterType="String">
    select * from noodle
    <if test="keyWorld != null">
       where noodle_name like concat ('%'#{keyWorld}'%')
    </if>
</select>
-->

</mapper>